/*---------------- font ----------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* common style */
h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-title {
    text-align: center;
    margin: 50px 0px;
}
.un-list {
    list-style: none;
}
.fa-regular.fa-circle-check {
    color: dodgerblue;
}
.fa-circle-check.different-check {
    color: lightblue;
}
.btn-reverse {
    color: blue;
    background-color: white;
}
.btn-reverse:hover {
    background-color: #ebe9e9;
}
footer {
    color: white;
    background-color: #0b0b30;
    min-height: 150px;
    padding: 10px 0px;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.app-container {
    display: flex;
    flex-direction: column;
}


/* media query */
@media only screen and (max-width:688px){
    .footer-container {
        flex-direction: column;
        justify-content: center;
    }
    .footer-item {
        max-width: 280px;
    }
    .app-container {
        display: inline;
    }
    
}